body {
    margin: 0px;
    
   
    background-color: #151517;

}
div {
    margin:auto;
    width: 90%;
    height: 20%;
}
p {
    margin: 0% 9% 9% 9%;
    text-align: center;
    color: #ffffff;
    font-size: 100%;
}

pre {
    text-align: center;
    color: #ffffff
}

ul {
    background-color: #ffffff;
    padding: 5%;
    text-align: center;
    margin: 0px;
    position: fixed;
    height: auto;
    width: 100%;
    top: 0px;
}



li {

    display: inline-block;

}

li a {

    display: block;
    padding: 10px;
    border-style: none;
    font-size: 20px;

}

li a:link,
a:visited {
    background-color: #151517;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header {
    
    height: auto;
    width: 100%;
    margin-right: 8px;
    
    
}

#headertext {
    font-size: 800%;
    text-align: center;
    color: #ffffff;
    margin: 0px;
    margin-top: 15%;
}

h1 {
    margin: 2px;
    font-size: 100px;
    text-align: center;
    color: #3B7CCF;
}

h2 {
    padding: 10px;

    text-align: center;
    color: #3B7CCF;
}

h3 {
    margin: 2px;

    text-align: center;
    color: #3B7CCF;
}

#gradua {
    color: #2B2F33
}

section {
    padding: 30px;
}

#nav1 {
    float: left;
    width: 59%;
    height: 500px;
    background-color: #4C607A;

}

#p1 {

    margin: 0px;
    font-size: 25px;

}

#aside {
    float: right;

    width: 41%;


}

#aside img {
    width: 100%;
    height: 500px;
}

#nav2 {

    float: left;
    width: 50%;
    height: 504px;
    background-color: #2B2F33;

}

#p2 {
    margin: 30px;

    font-size: 30px;
}

#aside2 {
    float: right;

    width: 50%;


}

#aside2 img {
    width: 100%;
    height: 500px;
}

#tabelaG {
    padding: 20px;
}

table {

    margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
    background-color: #2B2F33;

}

tr {
    color: #ffffff
}

td {
    background-color: #4B72A5;
}

tfoot td {
    background-color: #000000
}


footer {
    text-align: left;

    width: 100%;
    height: 80px;
    background-color: #2B2F33;


}

footer p {
    text-align: left;
    margin: 30px;
}

footer a {
    margin: 30px;
}